<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Superheros</title>
  </head>
  <body>

      <h1>Team Name: <%= params["team"]["name"] %></h1><br>

      <h2>Team Motto: <%= params["team"]["motto"] %></h2><br>

      <h2><label>Hero's Name: </label><input type="text" name="team[members][][name]" id="member1_name"><br></h2>

      <label>Hero's Power: </label><input type="text" name="team[members][][power]" id="member1_power"><br>
      <label>Hero's Biography: </label><input type="text" name="team[members][][biography]" id="member1_bio"><br>

      <h2><label>Hero's Name: </label><input type="text" name="team[members][][name]" id="member2_name"><br></h2>

      <label>Hero's Power: </label><input type="text" name="team[members][][power]" id="member2_power"><br>
      <label>Hero's Biography: </label><input type="text" name="team[members][][biography]" id="member2_bio"><br>

      <h2><label>Hero's Name: </label><input type="text" name="team[members][][name]" id="member3_name"><br></h2>

      <label>Hero's Power: </label><input type="text" name="team[members][][power]" id="member3_power"><br>
      <label>Hero's Biography: </label><input type="text" name="team[members][][biography]" id="member3_bio"><br>

  </body>
</html>
